<footer class="footer">
  <div class="footer__container">
    <div class="container footer__content">
      <div class="footer__info">
        <img src="./img/logo.png" alt="" />
        <button class="button button--red">Вызов замерщика</button>
        <div>
          <a class="text footer__phone" href="tel:89180490489"
            >+7 918 049 04 89</a
          >
          <p class="text footer__time">Ежедневно с 8.00 до 21.00</p>
        </div>
        <img class="footer__yandex" src="./img/yandex.png" alt="">
        <button class="button">Оставить отзыв</button>
      </div>
      <div class="footer__column">
        <a href="#" class="text footer__title">ПВХ</a>
        <a href="#" class="text">Матовые</a>
        <a href="#" class="text">Глянцевые</a>
        <a href="#" class="text">Сатиновые</a>
        <a href="#" class="text">Фактурные</a>
      </div>
      <div class="footer__column">
        <a href="#" class="text footer__title">Тканевые</a>
        <a href="#" class="text">Тканевые</a>
        <a href="#" class="text">D-Premium</a>
        <a href="#" class="text">Clipso</a>
        <a href="#" class="text">Cerutti</a>
      </div>
      <div class="footer__column">
        <a href="#" class="text footer__title">С подсветкой</a>
        <a href="#" class="text">Парящие</a>
        <a href="#" class="text">Световые линии</a>
        <a href="#" class="text">Лайтбокс</a>
        <a href="#" class="text">Контурные</a>
        <a href="#" class="text">SLOTT</a>
      </div>
      <div class="footer__column">
        <a href="#" class="text footer__title">Премиум</a>
        <a href="#" class="text">Теневые</a>
        <a href="#" class="text">Бесщелевые</a>
        <a href="#" class="text">С фотопечатью</a>
        <a href="#" class="text">Двухуровневые</a>
        <a href="#" class="text">Звездное небо</a>
      </div>
      <div class="footer__column">
        <a href="#" class="text footer__title"> Типы помещений </a>
        <a href="#" class="text">На кухню</a>
        <a href="#" class="text">В коридор</a>
        <a href="#" class="text">В ванную</a>
        <a href="#" class="text">В спальню</a>
        <a href="#" class="text">В детскую</a>
        <a href="#" class="text">В гостиную</a>
        <a href="#" class="text">В комнату</a>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="text footer__text">
        © 2014-2023. ООО «Светомания» - Установка натяжных потолков в
        Севастопале. Сайт sm92.ru не является публичной офертой и носит
        информационный характер
      </p>
      <a href="#" class="text footer__privacy-police">
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>
