@mixin burger($burger-width, $burger-height, $burger-line-height, $color) {
  position: relative;
  border: none;
  padding: 0;
  width: #{$burger-width};
  height: #{$burger-height};
  color: #{$color};
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: #{$burger-line-height};
    background-color: currentcolor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - #{$burger-line-height});
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: #{$burger-line-height};
    background-color: currentcolor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}