<section class="about">
  <div class="about__container container">
    <div class="about__lighting">
      <div class="about__top about__top--row">
        <p class="about__title title">Профессиональный подбор освещения</p>
        <p class="text about__title--small">
          Индивидуальный подход к каждому клиенту при подборе освеще под ваши м2
        </p>
      </div>
      <div class="about__items">
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/lighting-1.png"
            alt=""
          />
          <p class="text about__subtitle">Трековое освещение</p>
          <p class="text about__text">Цена от</p>
        </div>
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/lighting-2.png"
            alt=""
          />
          <p class="text about__subtitle">Световые линии</p>
          <p class="text about__text">Цена от</p>
        </div>
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/lighting-3.png"
            alt=""
          />
          <p class="text about__subtitle">Точечное освещение</p>
          <p class="text about__text">Цена от</p>
        </div>
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/lighting-4.png"
            alt=""
          />
          <p class="text about__subtitle">Люстры</p>
          <p class="text about__text">Цена от</p>
        </div>
      </div>
    </div>
    <div class="about__ceiling">
      <div class="about__top">
        <p class="about__title title">
          Натяжные потолки от Свето Мания - это качество и гарантия
        </p>
        <p class="text">Наша команда сертифицирована с опытом работы</p>
      </div>
      <div class="about__items">
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/ceiling-1.png"
            alt=""
          />
          <p class="text about__subtitle">
            Гарантия на установку натяжного потолка
          </p>
          <p class="text about__text">
            Мы предоставляем гарантию на монтажные работы 1 год
          </p>
        </div>
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/ceiling-2.png"
            alt=""
          />
          <p class="text about__subtitle">
            Профессиональный расчет и подбор освещения
          </p>
          <p class="text about__text">
            Наши менеджеры подберут освещение под ваши запросы, проведут расчет
            под ваши м2 согласно всем нормам и требованиям к свету
          </p>
        </div>
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/ceiling-3.png"
            alt=""
          />
          <p class="text about__subtitle">Чистый и безопасный монтаж</p>
          <p class="text about__text">Приберемся после себя</p>
        </div>
        <div class="about__item">
          <img
            class="about__photo"
            src="./img/about/ceiling-4.png"
            alt=""
          />
          <p class="text about__subtitle">Официальный дистрибьютор</p>
          <p class="text about__text">
            Мы являемся официальными дистрибьюторами ведущих поставщиков света и
            электрики
          </p>
        </div>
      </div>
    </div>
    <div class="about__bottom">
      <p class="text about__purpose">
        Мы всегда стремились к одной цели, уверенно достигаем ее сейчас и будем
        прилагать все усилия, чтобы реализовать ее в будущем. Наша цель:
      </p>
      <p class="text about__shopper">Довольный покупатель</p>
    </div>
  </div>
</section>
