<section class="calculator">
  <div class="calculator__container container">
    <p class="calculator__title title">
      Рассчитайте примерную стоимость натяжного потолка с установкой
    </p>
    <div class="calculator__content">
      <div class="calculator__column">
        <p class="text calculator__name">1. Фактура</p>
        <div class="calculator__invoice">
          <div class="text calculator__field active"">Матовые</div>
          <div class="text calculator__field">Глянцевые</div>
          <div class="text calculator__field">Сатиновые</div>
          <div class="text calculator__field">Тканевые</div>
        </div>
      </div>
      <div class="calculator__column">
        <p class="text calculator__name">2. Производитель</p>
        <div class="calculator__company">
          <div class="text calculator__field active">MSD Classic</div>
          <div class="text calculator__field">MSD Premium</div>
          <div class="text calculator__field">MSD Evolution</div>
          <div class="text calculator__field">MSD Cold Stretch</div>
          <div class="text calculator__field">Teqtum KM2</div>
          <div class="text calculator__field">Teqtum EURO</div>
          <div class="text calculator__field">Lumfer</div>
          <div class="text calculator__field">Bauf 205</div>
          <div class="text calculator__field">Bauf 230</div>
          <div class="text calculator__field">Bauf 270</div>
          <div class="text calculator__field">Halead</div>
        </div>
      </div>
      <div class="calculator__column">
        <p class="text calculator__name">3. Помещение</p>
        <div class="calculator__tools">
          <div class="calculator__area">
            <p class="text calculator__subtitle">Площадь, м²</p>
            <div class="calculator__calc">
              <div class="calculator__minus"></div>
              <div class="calculator__value">0</div>
              <div class="calculator__plus"></div>
            </div>
          </div>
          <div class="calculator__area">
            <p class="text calculator__subtitle">Углы, шт</p>
            <div class="calculator__calc">
              <div class="calculator__minus"></div>
              <div class="calculator__value">0</div>
              <div class="calculator__plus"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="calculator__column">
        <p class="text calculator__name">4. Освещение</p>
        <div class="calculator__tools">
          <div class="calculator__area">
            <p class="text calculator__subtitle">Светильники, шт</p>
            <div class="calculator__calc">
              <div class="calculator__minus"></div>
              <div class="calculator__value">0</div>
              <div class="calculator__plus"></div>
            </div>
          </div>
          <div class="calculator__area">
            <p class="text calculator__subtitle">Люстры, шт</p>
            <div class="calculator__calc">
              <div class="calculator__minus"></div>
              <div class="calculator__value">0</div>
              <div class="calculator__plus"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div action="" class="calculator__bottom">
     <p class="text calculator__res">Итоговая стоимость: <span><span class="calculator__price">0</span> рублей</span></p>
      <div class="calculator__form">
        <input type="text" class="calculator__input">
        <button class="button button--red">Рассчитать</button>
      </div>
    </div>
  </div>
</section>
