<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <p class="text hero__title">
        НАТЯЖНЫЕ ПОТОЛКИ<br /><span>в Севастополе</span>
      </p>
      <p class="text hero__subtitle">
        Без дополнительных условий и привязки к стоимости заказа
      </p>
      <p class="text hero__text">
        Подобрать освещение для вашего натяжного потолка
      </p>
      <button class="button button--red hero__button">Перейти</button>
    </div>
    <div class="hero__items">
      <div class="hero__item">
        <div class="hero__photo">
          <img src="./img/hero-1.png" alt="" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <div class="hero__info">
          <p class="text hero__title hero__title--small">
            Светильники в подарок
          </p>
          <p class="text hero__subtitle hero__subtitle--small">
            Условия акции уточняйте у нашего мендежера
          </p>
        </div>
      </div>
      <div class="hero__item">
        <div class="hero__photo">
          <img src="./img/hero-2.png" alt="" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <div class="hero__info">
          <p class="text hero__title hero__title--small">
            Бесплатный замер в удобное для вас время
          </p>
          <p class="text hero__subtitle hero__subtitle--small">
            Даже если вы откажетесь от заказа, замер останется для вас –
            бесплатным!
          </p>
        </div>
      </div>
      <div class="hero__item">
        <div class="hero__photo">
          <img src="./img/hero-3.png" alt="" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <div class="hero__info">
          <p class="text hero__title hero__title--small">
            После себя оставим чистоту
          </p>
          <p class="text hero__subtitle hero__subtitle--small">
            Клининг буду делать после натяжки потолков
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
