<section class="options">
  <div class="options__container container">
    <p class="title options__title">
      Работая с нами, Вы получаете 4 бесплатные опции
    </p>
    <div class="options__items">
      <div class="options__item">
        <div class="options__photo">
          <img src="./img/options/options-1.png" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <p class="options__subtitle">
          Профессиональный подбор и расчет освещения
        </p>
        <p class="options__text">Под ваши м2</p>
      </div>
      <div class="options__item">
        <div class="options__photo">
          <img src="./img/options/options-2.png" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <p class="options__subtitle">Светильники*</p>
        <p class="options__text">*условия акции уточняйте у менеджера</p>
      </div>
      <div class="options__item">
        <div class="options__photo">
          <img src="./img/options/options-3.png" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <p class="options__subtitle">Гарантия</p>
        <p class="options__text">На монтаж работы 1 год</p>
      </div>
      <div class="options__item">
        <div class="options__photo">
          <img src="./img/options/options-4.png" />
          <img src="./img/shadow.png" alt="" />
        </div>
        <p class="options__subtitle">Выезд замерщика</p>
        <p class="options__text">В удобное для вас время</p>
      </div>
    </div>
    <div class="options__questions">
      <p class="options__title--small">
        Напишите нам, и мы ответим на любые вопросы
      </p>
      <div class="options__socials">
        <a href="#"><img src="./img/whatsapp.png" alt="" /></a>
        <a href="#"><img src="./img/telegram.png" alt="" /></a>
      </div>
      <p class="options__text--small">
        Даже если вы откажетесь от заказа, замер останется для вас – бесплатным!
      </p>
    </div>
    <button class="options__button button button--red">
      Получить бесплатно
    </button>
  </div>
</section>
