<section class="price">
  <div class="price__container">
    <div class="price__top container">
      <p class="title price__title">Натяжные потолки цена 
за 1м2 с установкой</p>
      <p class="text price__subtitle">Используем только сертифицированные полотна, которые
разрешены в жилых помещениях</p>
    </div>
    <div class="price__tabs tabs">
      <div class="tabs__top price__separator">
        <div class="price__tabs--top container">
          <p class="text price__tabs--name tabs__top--item active-select">
            Все
          </p>
          <p class="text price__tabs--name tabs__top--item">Матовые</p>
          <p class="text price__tabs--name tabs__top--item">Глянцевые</p>
          <p class="text price__tabs--name tabs__top--item">Сатиновые</p>
          <p class="text price__tabs--name tabs__top--item">Тканевые</p>
        </div>
      </div>
      <div class="tabs__content container price__content">
        <div class="tabs__content--item active-tab">
          <div class="price__category">
            <p class="text price__name">ПВХ натяжные потолки</p>
            <div class="price__items">
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/2.png" alt="" />
                    <p class="text">Без запаха</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/3.png" alt="" />
                    <p class="text">эко пленка</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <p class="text">15 <br> Лет гарантии</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
<div class="price__category">
            <p class="text price__name">ПВХ натяжные потолки</p>
            <div class="price__items">
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
              <div class="price__item">
                <div class="price__item--top">
                  <p class="text" style="font-weight: 800">MSD Classic</p>
                  <img src="./img/items/msd_1421.png" alt="" />
                </div>
                <p class="text">Матовые, глянцевые, сатиновые</p>
                <div class="price__item--middle">
                  <p class="text price__from">
                    От 590 ₽/м <br /><span>с установкой</span>
                  </p>
                  <div class="price__type">
                    <img src="./img/types/1.png" alt="" />
                    <p class="text">Лучшая цена</p>
                  </div>
                </div>
                <div class="price__params">
                  <p class="text" style="font-weight: 800">Характеристики</p>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                  <div class="price__param">
                    <p class="text">Производители</p>
                    <p class="text">Китай</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <button class="button button--red price__button">Вызвать замерщика</button>
  </div>
</section>
