<section class="price price--no-offset">
  <div class="price__container">
    <div class="price__top container slider__top">
      <p class="title price__title">
        Реализация разных видов Натяжных потолков
      </p>
      <p class="text price__subtitle slider__subtitle">
        Расскажем об особенностях, плюсах и минусах каждого варианта, чтобы вы
        сделали свой выбор
      </p>
    </div>
    <div class="price__tabs tabs slider">
      <div class="tabs__top price__separator">
        <div class="price__tabs--top container slider__tabs">
          <p class="text price__tabs--name tabs__top--item active-select">
            Матовые
          </p>
          <p class="text price__tabs--name tabs__top--item">Глянцевые</p>
          <p class="text price__tabs--name tabs__top--item">Сатиновые</p>
          <p class="text price__tabs--name tabs__top--item">Тканевые</p>
          <p class="text price__tabs--name tabs__top--item">С подсветкой</p>
          <p class="text price__tabs--name tabs__top--item">Теневой</p>
          <p class="text price__tabs--name tabs__top--item">Теневой</p>
          <p class="text price__tabs--name tabs__top--item">Бесщелевой</p>
        </div>
      </div>
      <div class="tabs__content price__content">
        <div class="tabs__content--item active-tab">
          <div class="slider__content swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="container slider__slide">
                  <div class="slider__photo">
                    <img src="./img/slider/1.png" alt="" />
                    <div class="slider__btn slider__next"></div>
                    <div class="slider__btn slider__prev"></div>
                  </div>
                  <div class="slider__info">
                    <p class="text slider__title">Матовые натяжные потолки</p>
                    <div class="slider__text">
                      <p class="text">
                        Классический натяжной потолок с матовой поверхностью.
                        Полотно слегка шероховато на ощупь, основание гладкое и
                        ровное. Внешне похож на штукатурку или побелку.
                      </p>
                      <p class="text">
                        Матовая ПВХ плёнка позволяет создавать конструкции любой
                        сложности. Полотно не отражает свет и не образует блики.
                      </p>
                    </div>
                    <div class="slider__separator"></div>
                    <div class="slider__bottom">
                      <p class="text">
                        Цена от<br /><span class="slider__price"
                          >590 руб/м2</span
                        >
                      </p>
                      <button class="button button--red">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="container slider__slide">
                  <div class="slider__photo">
                    <img src="./img/slider/1.png" alt="" />
                    <div class="slider__btn slider__next"></div>
                    <div class="slider__btn slider__prev"></div>
                  </div>
                  <div class="slider__info">
                    <p class="text slider__title">Матовые натяжные потолки</p>
                    <div class="slider__text">
                      <p class="text">
                        Классический натяжной потолок с матовой поверхностью.
                        Полотно слегка шероховато на ощупь, основание гладкое и
                        ровное. Внешне похож на штукатурку или побелку.
                      </p>
                      <p class="text">
                        Матовая ПВХ плёнка позволяет создавать конструкции любой
                        сложности. Полотно не отражает свет и не образует блики.
                      </p>
                    </div>
                    <div class="slider__separator"></div>
                    <div class="slider__bottom">
                      <p class="text">
                        Цена от<br /><span class="slider__price"
                          >590 руб/м2</span
                        >
                      </p>
                      <button class="button button--red">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container slider__preview">
            <div class="slider__preview--img">
              <img src="./img/slider/1.png" alt="" />
            </div>
            <div class="slider__preview--img">
              <img src="./img/slider/2.png" alt="" />
            </div>
            <div class="slider__preview--img">
              <img src="./img/slider/3.png" alt="" />
            </div>
            <div class="slider__preview--img">
              <img src="./img/slider/4.png" alt="" />
            </div>
          </div>
        </div>
        <div class="tabs__content--item"></div>
      </div>
    </div>
  </div>
</section>
