.button{
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 10px;
  background: none;
  font-size: var(--font-size);
  line-height: 1.2;
  font-weight: 800;
  padding: calc(var(--padding) * 3.5) calc(var(--padding) * 6) ;
  cursor: pointer;
  transition: all .3s ease-in;
  &:hover{
    background: var(--red-color);
    color: var(--white-color);
  }
  &--red{
    background: var(--red-color);
    color: var(--white-color);
    border: 1px solid var(--red-color);
    &:hover{
        background: var(--white-color);
        color: var(--red-color);
      }
  }
} 

