:root {
  // Цвета
  --white-color: white;
  --black-color: #383838;
  --black-color-02: #373737;
  --red-color: #dc2f2f;

  // Шрифты
  --font-family: "Gilroy";
  --font-size: 16px;
  --title-font-size: 48px;

  // Размеры контейнера
  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --padding: 5px;
  --offset: 10px;
  --gap: 10px;
}

@media (max-width: 768px){
 :root{
  --padding: 2px;
  --offset: 5px;
  --gap: 5px;

  --font-size: 12px;
  --title-font-size: 36px;
 }
}

@media (max-width: 480px){
 :root{
  --title-font-size: 26px;
 }
}
